#banner{
    background-image: url(mats/banner.jpg);
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: block;        
}